#img-bg{
    background-image: url('https://images8.alphacoders.com/707/707603.png');

    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}